<h1>You searched: <strong class="text-danger">{{searchedAnime}}</strong></h1>
<div *ngIf="animes.length > 0">
    <app-animes-grid [animes]="animes"></app-animes-grid>
</div>

<div class="d-flex justify-content-center" *ngIf="!loading">
    <div class="badge bg-info text-dark text-center w-75">
        <div class="row m-2">
            <h3 class="fw-bold">Loading...</h3>
            <i class="fas fa-spinner fa-spin fa-2x"></i>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="loading && animes.length === 0">
    <div class="badge bg-warning text-dark w-75">
        <div class="container text-center">
            <div class="row">
                <h3 class="fw-bold">We didn't found an anime that matches your search</h3>
                <i class="fas fa-sad-cry fa-2x"></i>
            </div>
        </div>
    </div>
</div>
