<div *ngIf="anime">
    <div class="row">
        <div class="col-10">
            <h2 class="mb-0">{{anime.attributes.canonicalTitle}}</h2>
        </div>
        <div class="col-2 d-flex flex-row-reverse">
            <button class="btn green-button" (click)="goBack()"><i class="fas fa-backward me-2"></i>Go back</button>
        </div>
    </div>
    <div class="row mt-3" *ngIf="anime.attributes.coverImage != null">
        <img [src]="anime.attributes.coverImage.large" class="img-fluid">
    </div>
    <div class="row mt-4">
        <div class="col-4 ps-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="card">
                        <div class="card-body d-flex flex-row align-items-center">
                            <p class="dark-blue-text mb-0">Rating: </p> 
                           <strong class="text-danger ms-2">{{anime.attributes.averageRating}}</strong>
                           <i class="fas fa-star ms-1 text-danger"></i>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="card">
                        <div class="card-body align-items-center">
                            <p class="dark-blue-text">Categories: </p>
                            <div *ngFor="let category of categories">
                                <p class="text-danger"><i class="fas fa-caret-right me-1"></i>{{category.attributes.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="dark-blue-text">Synopsis</h3>
                    <p class="dark-blue-text">{{anime.attributes.synopsis}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col" *ngIf="episodes.length > 1">
            <app-episode-slideshow [episodes]="episodes"></app-episode-slideshow>
        </div>
    </div>
</div>


