/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Raleway', sans-serif;
    background-color: #051622;
    color: white;
}

/* COLORS */
/* dark blue */
/* #051622 */
/* green */
/* #1BA098 */
/* brown */
/* #DEB992 */

/* TEXT */
.brown-text{
    color: #DEB992;
}
.green-text{
    color: #1BA098;
}
/* TEXT */

/* BACKGRONDS */
.brown-bg{
    background-color: #DEB992;
}
.green-bg{
    background-color: #1BA098;
}
/* BACKGRONDS */